<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css'>
</head>
<body>
    <style>
        body {
            /* background-color: black; */
            background-image: url(https://media.discordapp.net/attachments/1031460803582365776/1067008053318258708/image.png?width=881&height=442);
            background-size: cover;
            z-index: 0;
        }

        img {
            z-index: 1;
            margin-top: 300px;
            margin-left: 1050px;
        }
    </style>
    <a style="color:white;"> made by smk, load<br>도용방지</a>
    <img src="static/{{amount}}-{{name}}.png" height="300" width="300">
</body>
</html>